/ AbstractFactory/nbproject/private/
/ AbstractFactory/build/
/AbstractFactory/target/
/Observer/target/
/Strategy/target/
/JavaJDBC/nbproject/private/
/JavaJDBC/build/
/listaAvaliativa02/nbproject/private/
/listaAvaliativa02/build/